body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

/* navbar */
.navbar{
  font-size: 100%;
  background-color: #0e0e0e;
  height: 10vh;
  position: fixed;
  width:100%;
  z-index:1;
}



.main-nav {
  list-style-type: none;
  display: none;
}

.main-nav-second {
  list-style-type: none;
  display: flex;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

/*********** sökglas****/
#search-field{
  margin-top: -7px;
  margin-left: 20px;
}
.search {
  display: inline-block;
  position: relative;
}

.search:after {
  content: "";
  background: rgb(255, 168, 0);
  width: 4px;
  height: 15px;
  position: absolute;
  top: 26px;
  right: 2px;
  transform: rotate(135deg);
  box-shadow: 1px 0 #bdbebe;
}

.search > input {
  color: rgb(255, 168, 0);
  font-size: 10px;
  background: transparent;
  width: 5px;
  height: 5px;
  padding: 10px;
  border: solid 3px rgb(255, 168, 0);
  outline: none;
  border-radius: 35px;
  box-shadow: 0 1px #bdbebe;
  transition: width 0.5s;
}

.search > input::placeholder {
  color: #efefef;
  opacity: 1;
}

.search > input:focus,
.search > input:valid {
  width: 250px;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
/* slut sök field */


.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
  color: #ffa800;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

.second-nav-items > i{
  color: #ffa800;
}

.second-nav-items > p{
font-size: 8pt;
color:#ffffff;
}

.second-nav-items{
  text-align: center;
  display: inline-block;
  padding-left: 35px;
  margin-right: 30px;
}


.navbar-second{
  top: 20vh;
  background-color: #0e0e0eb2;
}

select{
  padding:10px;
  margin-top:10px;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 89px;
    align-items: center;
  }

  .main-nav, .second-navbar {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}
@media screen and (max-width: 768px) {
.navbar-second{
  background-color: #0e0e0e;
  position:fixed;
  bottom:0 !important;
  top: auto;
  }
  .main-nav-second {
    display: flex;
  }

  #search-field{
    position: fixed;
    top: 49px;
  }
  .search > input::placeholder {
    color: black;
  }
  .category-container{
    top:5vh !important;
  }
  .second-nav-items{
    padding-left: 26px;
    margin-right: 0px;
  }
}
/* navbar slut */

/*PAGE-CONTAINER*/
.page-container {
  display: flex;
  flex-flow: row nowrap;
}

/*CATEGORY-CONTAINER*/

.category-container {
  width: 20%;
  max-height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  background: #f4f4f4;
  box-shadow: 10px 4px 34px rgba(0, 0, 0, 0.25);
  position: fixed;
  top:40vh;
}

/*CATEGORY-MENU*/
.categories:first-of-type {
  margin-top: 0vh;
}
.categories {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 50%;
}

.categories i {
  color: #ffa800;
  margin: auto 5% auto 5%;
}

.categories:last-of-type {
  border-bottom: none;
}

.categories:hover {
    color: #ffa800;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    
    .categories {
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 10%;
    }
      }
@media only screen and (max-width: 768px) {
.categories p {
    font-size: 75%;
}
  }

/*CATEGORY-MENU-SLUT*/

/*PRODUKTCONTAINER*/

.products-page-container {
  width: 80%;
  height: auto;
  margin-right: 0px;
  margin-left: auto;
}

/*START-IMG*/
.start-img-container {
  width: 100%;
  height: 90vh;
  background: url('./img/orangeheadphones.JPG');
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  width: 50%;
  background: rgba(0, 0, 0, 0.25);
  color: white;
  text-align: center;
  padding: 2%;
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  .start-img-text {
    font-size: 75%;
  }
  .start-img-container {
      height: 50vh;
  }
}
/*PRODUCT-CARD*/
.product-container {
  width: 90%;
  min-height: 50vh;
  padding: 2%;
  margin: 2% auto 2% auto;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.product-img {
  background: url('./img/orangeheadphones.JPG');
  background-size: 100%;
  height: 80%;
  width: 50%;
}
.product-information {
  color: #c4c4c4;
}

.product-icon-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.shop-icon-container {
  width: 10%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 0px;
}
.product-icon-container i {
  color: #ffa800;
}

.rating-icon-container {
  width: 5%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 0px;
}

@media only screen and (max-width: 768px) {
  .product-container {
    flex-flow: column;
    padding: 2%;
  }

  .shop-icon-container {
    width: 50%;
  }
  .product-img {
    height: 50%;
    width: 80%;
  }
  .product-information {
    font-size: 50%;
  }
}
/*PRODUCT-CARD-SLUT*/
