body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

/* navbar */
.navbar{
  font-size: 18px;
  background-color: #0e0e0e;
  padding-bottom: 10px;
  position: fixed;
  width:100%;
  z-index:1;
}



.main-nav {
  list-style-type: none;
  display: none;
}


.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

/*********** sökglas****/
#search-field{
  margin-top:15px;
}
.search {
  display: inline-block;
  position: relative;
}

.search:after {
  content: "";
  background: white;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 30px;
  right: 2px;
  transform: rotate(135deg);
  box-shadow: 1px 0 #0091c2;
}

.search > input {
  color: white;
  font-size: 10px;
  background: transparent;
  width: 10px;
  height: 10px;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  box-shadow: 0 1px #0091c2;
  transition: width 0.5s;
}

.search > input::placeholder {
  color: #efefef;
  opacity: 1;
}

.search > input:focus,
.search > input:valid {
  width: 250px;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
/* slut sök field */


.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
  color: #ffa800;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

.second-nav-items > i{
  color: #ffa800;
  font-size: 20pt;
}

.second-nav-items > p{
font-size: 8pt;
color:#ffffff;
}

.second-nav-items{
  text-align: center;
  display: inline-block;
  padding-left: 35px;
}


.navbar-second{
  top:10vh;
  background-color: #0e0e0eb2;
}


@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav, .second-navbar {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}
/* navbar slut */

/*PAGE-CONTAINER*/
.page-container {
  display: flex;
  flex-flow: row nowrap;
}

/*CATEGORY-CONTAINER*/

.category-container {
  width: 20%;
  height: 90vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  background: #f4f4f4;
  box-shadow: 10px 4px 34px rgba(0, 0, 0, 0.25);
  position: fixed;
  top:20vh;
}

/*CATEGORY-MENU*/
.categories {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.categories i {
  color: #ffa800;
  margin: auto 5% auto 5%;
}

.categories:last-of-type {
  border-bottom: none;
}

.categories:hover {
    color: #ffa800;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    
    .categories {
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 10%;
    }
      }
@media only screen and (max-width: 768px) {
.categories p {
    font-size: 75%;
}
  }

/*CATEGORY-MENU-SLUT*/

/*PRODUKTCONTAINER*/

.products-page-container {
  width: 80%;
  height: auto;
  margin-right: 0px;
  margin-left: auto;
}

/*START-IMG*/
.start-img-container {
  width: 100%;
  height: 90vh;
  background: url('./img/orangeheadphones.JPG');
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  width: 50%;
  background: rgba(0, 0, 0, 0.25);
  color: white;
  text-align: center;
  padding: 2%;
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  .start-img-text {
    font-size: 75%;
  }
  .start-img-container {
      height: 50vh;
  }
}
/*PRODUCT-CARD*/
.product-container {
  width: 90%;
  min-height: 50vh;
  padding: 2%;
  margin: 2% auto 2% auto;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.product-img {
  background: url('./img/orangeheadphones.JPG');
  background-size: 100%;
  height: 80%;
  width: 50%;
}
.product-information {
  color: #c4c4c4;
}

.product-icon-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-right: 10%;
}

.shop-icon-container {
  width: 20%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}
.product-icon-container i {
  color: #ffa800;
}

.rating-icon-container {
  width: 5%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .product-container {
    flex-flow: column;
    padding: 2%;
  }

  .shop-icon-container {
    width: 50%;
  }
  .product-img {
    height: 50%;
    width: 80%;
  }
  .product-information {
    font-size: 50%;
  }
}
/*PRODUCT-CARD-SLUT*/
