body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

/* navbar */
.navbar {
  font-size: 18px;
  background-color: #0e0e0e;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
  color: #ffa800;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}
/* navbar slut */

/*START-IMG*/
.start-img-container {
width: 100%;
height: 90vh;
background: url('./img/orangeheadphones.JPG');
background-size: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.text-container {
    width: 50%;
    background: rgba(0, 0, 0, 0.25);
    color: white;
    text-align: center;
    padding: 2%;
    border-radius: 10px;
}
@media only screen and (max-width: 768px) {
.start-img-text {
    font-size: 75%;
}
  }
/*PRODUCT-CARD*/
.product-container {
  width: 90%;
  min-height: 50vh;
  padding: 2%;
  margin: 2% auto 2% auto;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.product-img {
  background: url('./img/orangeheadphones.JPG');
  background-size: 100%;
  height: 80%;
  width: 50%;
}
.product-information {
  color: #c4c4c4;
}

.product-icon-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-right: 10%;
}

.shop-icon-container {
  width: 20%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}
.product-icon-container i {
  color: #ffa800;
}

.rating-icon-container {
  width: 5%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .product-container {
    flex-flow: column;
    padding: 2%;
  }

  .shop-icon-container {
    width: 50%;
  }
  .product-img {
    height: 50%;
    width: 80%;
  }
}
/*PRODUCT-CARD-SLUT*/
