
/*PRODUCT-CARD*/
.product-container {
    width: 100%;
    min-height: 50vh;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.product-img {
    background: url('./img/orangeheadphones.JPG');
    background-size: 100%;
    height: 80%;
    width: 50%;
}
.product-information {
    color: #C4C4C4;
}

.product-icon-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-right: 10%;
}

.shop-icon-container {
    width: 20%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}
.product-icon-container i {
    color: #FFA800;
}

.rating-icon-container {
    width: 5%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width: 768px) {
.product-container {
    flex-flow: column;
    padding: 2%;
}

.shop-icon-container {
    width: 50%;
}
.product-img {
    height: 50%;
    width: 80%;
}
}
